<div class="container">
            <div class="row">


                <%cafeData.cafes.forEach(function(item,index){%>

                <div class=<%if(index>0){%>"col-sm-6 col-md-4"<%}else{%>"col-sm-12" <%}%> >
                    <div class="thumbnail">
                        <img <%if(index==0){%>id="center-cropped" <%}%> src="<%=item.photo%>" alt="...">
                        <span class="rating"><%=item.rating%></span>
                        <div class="caption">
                            <h3><%=item.name%></h3>
                            <p><%=item.address%></p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=item.distance%></p>
                        </div>
                    </div>
                </div>
                <%});%>


            </div>
        </div>
